@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;900&display=swap");
:root {
  --five-px:0.260vw;
  --two-px: 0.1042vw;
  --twelve-px: 0.625vw;
  --twenty-px: 1.042vw;
  --twenty-four-px: 1.250vw;
  --fourty-px: 2.083vw;
  --fourty-eight-px: 2.500vw;
  --one-hundered-px: 5.208vw;
  --one-thousand-px: 62.500vw;
  --max-weight: 100.000vw;
  --max-height: 100.000vh;
  --white: #eee;
  --black: #1f1f1f;
  --gray: #A5A5A5;
}

* {
  border: none;
  overflow: hidden;
  cursor: default;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  background-color: var(--black);
  color: var(--white);
}
* ::-moz-selection {
  background-color: var(--white);
  color: var(--black);
}
* ::selection {
  background-color: var(--white);
  color: var(--black);
}
* :focus {
  outline: none;
}

.header {
  z-index: 1;
  position: absolute;
  top: var(--one-hundered-px);
  left: var(--one-hundered-px);
  display: flex;
  flex-direction: column;
}
.header .title {
  font-size: var(--fourty-px);
  font-weight: 900;
  display: flex;
  margin-bottom: var(--twelve-px);
}
.header .span {
  margin-left: var(--twenty-px);
  font-weight: 200;
}
.header a {
  font-size: var(--twenty-four-px);
  color: var(--gray);
  font-weight: 900;
  transition: all 1s ease;
}
.header a:hover {
  cursor: pointer;
  color: var(--white);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: var(--max-weight);
  height: var(--max-height);
  font-size: var(--fourty-eight-px);
}
.main .container {
  width: var(--one-thousand-px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .container .button {
  transition: all 1s ease;
  font-size: var(--fourty-px);
  padding: var(--five-px) var(--twenty-px) var(--five-px) var(--twenty-px);
  border-radius: var(--five-px);
  border: solid var(--white) var(--two-px);
}
.main .container .button:hover {
  background-color: var(--white);
  border: solid var(--black) var(--two-px);
  color: var(--black);
}
.main .container #typing-text {
  text-align: center;
  line-height: 125%;
  margin-bottom: var(--twenty-px);
}
.main .container .title {
  color: var(--white);
  font-size: var(--fourty-px);
  margin-bottom: var(--twelve-px);
}
.main .container .subTitle {
  color: var(--white);
  font-size: var(--twenty-four-px);
}
.main .container .form {
  display: flex;
  width: 100%;
  font-size: var(--fourty-px);
  flex-direction: column;
  align-items: center;
}
.main .container .form .fieldContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.main .container .form .input {
  transition: all 0.5s ease;
  text-align: center;
  width: 45%;
  color: var(--black);
  font-size: var(--fourty-px);
  margin-bottom: var(--twenty-px);
  border: var(--two-px) solid var(--white);
  border-radius: var(--five-px);
  cursor: pointer;
}
.main .container .form .input:hover {
  background-color: var(--white);
  color: var(--black);
  padding: var(--five-px) var(--twenty-px) var(--five-px) var(--twenty-px);
  border: var(--two-px) solid var(--black);
}
.main .container .form .input::-moz-placeholder {
  color: var(--gray);
}
.main .container .form .input::placeholder {
  color: var(--gray);
}
.main .container .form .input:focus {
  background-color: var(--white);
  color: var(--black);
  padding: var(--five-px) var(--twenty-px) var(--five-px) var(--twenty-px);
}
.main .container .buttons-layer {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-around;
  flex-direction: row;
}
.main .container .userData {
  margin-bottom: var(--fourty-px);
}
.main .container .passportData {
  margin-bottom: var(--fourty-px);
}
.main .container .emailData {
  margin-bottom: var(--fourty-px);
}

.background {
  display: none;
  z-index: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: var(--max-weight);
  height: auto;
}
.background #video {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=styles.css.map */